<!-- <p class="text-center text-muted">
  &copy; Copyright
  <script>
    document.write(new Date().getFullYear());
  </script>
  Tech With Anirudh
</p> -->
<script src="js/lib/anialert.js"></script>
<script src="js/script.js"></script>
