<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>
	<div id="anialertbox"></div>

	<div class="container">
		<h1>AniSlides Pick A file</h1>
		<div class="drop-zone">
			<span class="drop-zone__prompt">Drop file here or click to upload</span>
		<input type="file" name="myFile" class="drop-zone__input">
	</div>
	</div>

	<footer>
		<%- include('../partials/footer'); %>
	</footer>

</body>

</html>